* {
  margin: 0px;
}
body {
  background-color: rgb(1, 255, 98);
  padding: 20px;
}
.center h1 {
  margin: auto;
  background-color: rgb(0, 174, 255);
  width: 50%;
}
.center .account {
  margin-bottom: 40px;
}
.center .logo {
  margin-top: 20px;
  margin-bottom: 40px;
}
.center {
  text-align: center;
  margin: 5px 0px 0px 0px;
}
.mode0 {
  position: absolute;
  left: calc(50% - 180px);
}
.mode1 {
  position: absolute;
  right: calc(50% - 150px);
}
#judge_result {
  font-size: 50px;
}
.button {
  margin: 20px;
  display: inline-block;
  border-radius: 4%; /* 角丸       */
  font-size: 18pt; /* 文字サイズ */
  text-align: center; /* 文字位置   */
  cursor: pointer; /* カーソル   */
  padding: 28px 89px; /* 余白       */
  background: #000000; /* 背景色     */
  color: #ffffff; /* 文字色     */
  line-height: 1em; /* 1行の高さ  */
  transition: 0.3s; /* なめらか変化 */
  box-shadow: 6px 6px 9px #666666; /* 影の設定 */
  border: 2px solid #000000; /* 枠の指定 */
}
.button:hover {
  box-shadow: none; /* カーソル時の影消去 */
  color: #000000; /* 背景色     */
  background: #ffffff; /* 文字色     */
}
